extends layout

block content
    p(style= "width:300px")
        input#slider(type="range" class= "mdl-slider mdl-js-slider" min= "0" max= "50" value= "2")
        script.
            slider.oninput = function () {
                $.ajax({
                    url: "/results",
                    data: {"value": slider.value},
                    dataType: "JSON",
                    success: function (data, status, jqXHR) {
                        textField.innerHTML = data.result
                    }
                });
            };
    h2#textField(style="width: 1000px")=title